[submodule "Dependencies/ghostty"]
	path = .repos/ghostty
	url = https://github.com/ghostty-org/ghostty.git
[submodule "Dependencies/herdr"]
	path = .repos/herdr
	url = https://github.com/ogulcancelik/herdr.git
